<div class="p-5 h-full">
  <app-card>
    <div class="block text-gray-500 text-lg font-medium">Profilo fiscale</div>

    <div class="flex flex-column gap-2 mt-3">
      <p>Tipologia di regime forfettario:</p>
      <div *ngFor="let flatRateScheme of flatRateSchemeOptions" class="flex align-items-center">
        <p-radioButton name="category" [value]="flatRateScheme.tax"
                       [(ngModel)]="taxProfileService.substituteTax"></p-radioButton>

        <label class="ml-2">{{ flatRateScheme.label }}</label>
      </div>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <p>Coefficiente di redditività:</p>
      <p-dropdown [options]="profitabilityCoefficientOptions" [(ngModel)]="taxProfileService.profitabilityCoefficient"
                  optionLabel="label"></p-dropdown>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <p>Cassa previdenziale:</p>
      <p-dropdown [options]="socialSecurityRegimeOptions" [(ngModel)]="taxProfileService.socialSecurityRate"
                  optionLabel="label" optionValue="rate" (onChange)="onChange()"></p-dropdown>
    </div>
  </app-card>
</div>
