<div class="p-5 h-full">
  <app-card>
    <p class="mt-0 font-medium text-lg">Ultime fatture</p>
    <p-table
      [value]="invoices" [paginator]="true" [rows]="5"
      [scrollable]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th pSortableColumn="date" style="min-width:8rem">Data
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="clientName">Cliente
            <p-sortIcon field="clientName"></p-sortIcon>
          </th>
          <th pSortableColumn="description">Descrizione
            <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Stato
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="subtotal">Totale
            <p-sortIcon field="subtotal"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoice>
        <tr>
          <td>{{ invoice.number }}</td>
          <td>{{ invoice.date | date}}</td>
          <td>{{ invoice.clientName }}</td>
          <td>{{ invoice.description }}</td>
          <td>
            <p-tag [value]="invoice.status | uppercase" [severity]="invoice.status | severity"></p-tag>
          </td>
          <td>{{ invoice.subtotal | currency: 'EUR'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </app-card>
</div>
