<nav class="bg-white fixed h-5rem w-full shadow-1 z-5">
  <div class="flex align-items-center justify-content-between h-5rem px-5">
    <img height="32em" width="auto" src="favicon.ico"
         alt="Invoice Management Tool">
    <div class="hidden md:flex md:gap-2">
      <a *ngFor="let navItem of navItems"
         class="p-3 border-round-md hover:bg-gray-100 active:bg-gray-200"
         [routerLink]="[navItem.route]" [routerLinkActive]="['active-nav-item', 'font-semibold']">
        {{navItem.label}}
      </a>
    </div>
    <a class=" hidden md:inline p-3 min-w-max border-round-md hover:bg-gray-100 active:bg-gray-200"
       [routerLink]="['/login']">
      Log in
    </a>
    <div class="-mr-2 flex md:hidden">
      <!-- Mobile menu button -->
      <p-button icon="pi pi-bars"
                styleClass="p-button-text p-button-secondary"
                (click)="onMobileMenuClick()">
      </p-button>
      <p-button icon="pi pi-times"
                styleClass="hidden p-button-text p-button-secondary"
                (click)="isMobileMenuOpen = true">
      </p-button>
    </div>
  </div>
</nav>

<!-- Mobile menu, show/hide based on menu state. -->
<p-sidebar [(visible)]="isMobileMenuOpen" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'">
  <div class="px-3 py-3 text-gray-800">
    <a *ngFor="let navItem of navItems"
       class="block min-w-max mt-1 p-3 border-round-md hover:bg-gray-100 active:bg-gray-200"
       [routerLink]="[navItem.route]" (click)="isMobileMenuOpen = false"
       [routerLinkActive]="['text-indigo-600', 'font-semibold']">
      {{navItem.label}}
    </a>
  </div>
  <div class="border-top-1 border-gray-100">
    <div class="px-3 py-3 text-gray-800">
      <a class="block min-w-max mt-1 p-3 border-round-md font-medium hover:bg-gray-100 active:bg-gray-200"
         [routerLink]="['/login']">
        Log in
      </a>
    </div>
  </div>
</p-sidebar>
