<div class="bg-gray-100 p-5 h-full">
  <div class="grid gap-2">

    <div class="col-12 lg:col">
      <app-card>
        <div class="flex items-center justify-between text-gray-500">
          <div class="text-xl">Fatturato</div>
        </div>
        <p class="text-3xl mb-0 text-gray-800 font-bold">{{revenue | currency : 'EUR'}}</p>
      </app-card>
    </div>

    <div class="col-12 lg:col">
      <app-card>
        <div class="flex items-center justify-between text-gray-500">
          <div class="text-xl">Reddito</div>
        </div>
        <p class="text-3xl mb-0 text-gray-800 font-bold">{{income | currency : 'EUR'}}</p>
      </app-card>
    </div>

  </div>
</div>
